/* Custom Properties */
:root{
    --first-color: rgb(217,0,98);
    --first-alpha-color: rgba(217,0,98,0.75);
    --second-color: rgb(20,25,45);
    --first-alpha-color: rgba(20,25,45,0.75);
    --third-color: rgb(93, 7, 147);
    --third-alpha-color: rgba(93, 7, 147,0.75);

    --link-color: rgb(35, 50, 112);
    --link-alpha-color: rgba(23, 48, 146,0.75);

    --bg-color: rgb(31, 32, 36);
    --bg-alpha-color: rgba(31, 32, 36,0.75);
}
/* Reset Styles */
body {
    font-family: "Noto Sans JP", sans-serif;
}
/* Bootstrap Styles */
/* My Styles */



*{
    scroll-behavior: smooth;
}

@media (min-width: 576px) {  }
@media (min-width: 768px) {  }
@media (min-width: 992px) {  }
@media (min-width: 1200px) {  }
@media (min-width: 1400px) {  }

