/* Custom Properties */
:root{
    --first-color: rgba(15, 3, 102);
    --second-color: rgb(32, 74, 245);
    --first-alpha-color: rgb(217, 0, 0);
    --third-color: rgb(255, 255, 255);
    --third-alpha-color: rgba(93, 7, 147);
    --link-color: rgb(35, 50, 112);
    --tx-color: rgb(46, 46, 49);
    --tx-alpha-color: rgb(17, 18, 18);
}

/* Reset Styles */
*,
*::after,
*::before{
    box-sizing: border-box;
    box-sizing: inherit;
}

body {
    scroll-behavior: smooth;
    font-family: "Noto Sans JP";
    background-color: var(--first-color);
    color: var(--third-color);
}
ul{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.we{
    width: 30%;
}

a{
    text-decoration: dotted;
    color: var(--tx-alpha-color);
}
/* Bootstrap Styles */

.mainbar a{
    width: inherit;
    height: inherit;
}
.mainbar a img{
    width: inherit;
    height: inherit;
}

footer{
    color: var(--third-color);
    color: var(--tx-color);
}

/* My Styles */

.mainbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    color: var(--tx-color);
    background-color: var(--third-color);
    height: 100%;    
}
.submenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 0;
}
.submenu2{
    display: none;
}
.we:hover > .submenu2{
    display: block;
    transition: all .5s;
}
.we:hover{
    margin-bottom: 20px;
}
a:hover{
    color: black;
    font-weight: bold;
}

figcaption{
    background-color: var(--first-alpha-color);
}

.hamburger {
    padding: 25px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: #000; }

      .hamburger-box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative; }
      
      .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -2px; }
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
          width: 40px;
          height: 4px;
          background-color: #000;
          border-radius: 4px;
          position: absolute;
          transition-property: transform;
          transition-duration: 0.15s;
          transition-timing-function: ease; }
        .hamburger-inner::before, .hamburger-inner::after {
          content: "";
          display: block; }
        .hamburger-inner::before {
          top: -10px; }
        .hamburger-inner::after {
          bottom: -10px; }

    
      .hamburger--spin .hamburger-inner {
        transition-duration: 0.22s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
        .hamburger--spin .hamburger-inner::before {
          transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
        .hamburger--spin .hamburger-inner::after {
          transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
      
      .hamburger--spin.is-active .hamburger-inner {
        transform: rotate(225deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
        .hamburger--spin.is-active .hamburger-inner::before {
          top: 0;
          opacity: 0;
          transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
        .hamburger--spin.is-active .hamburger-inner::after {
          bottom: 0;
          transform: rotate(-90deg);
          transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }


/*---- ----- ----- Media Queries ----- ----- -----*/
/***********************************************************************************************/

@media screen and (max-width: 1550px) {
    header{
        height: 15vh;
    }
    .cellphonemenu button{
        display: none;
    }
    .mainbar{
        height: 100%; 
    }	
    .cellphonemenu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
    }
    .container{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .descrip{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
    }
    .descripwith{
        width: 60vw;
    }
    figure img{
        height: 220px;
        width: 170px;
    }
    figcaption{
        width: 170px;
    }
    .cardContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        padding: 15px;
    }
    .card{
        height: 230px;
        width: 180px;
    }
    .cardImg{
        height: 170px;
        width: 140px;
    }
    .text-start{
        padding-top: 25px;
    }

}

/***********************************************************************************************/

@media screen and (max-width: 1024px) {
    .submenu{
        width: 420px;
    }
}
/***********************************************************************************************/

@media screen and (max-width: 768px) {
    .mainbar{
        font-size: 11px;
    }
    .descrip{
        width: 100vw;
    }
    .descripwith{
        width: 60vw;
    }
    figure img{
        height: 180px;
        width: 130px;
    }
    figcaption{
        width: 130px;
    }

}
/***********************************************************************************************/

@media screen and (max-width: 600px) {
    .presentation{
        display: none;
    }
    ul .submenu{
        margin-right: 10px;
    }
    figure img{
        height: 150px;
    }
    figcaption{
        width: 100px;
        width: 130px;
    }

}
/***********************************************************************************************/

@media screen and (max-width: 480px) {
    .mainbar{
        height: 10vh;
    }
    .cellphonemenu button{
        display: flex;
    }
    .cellphonemenu{
        width: 100%;
    }
    #button-id{
        pointer-events: none;
    }
    .submenu{
        background-color: var(--third-color);
        margin-top: 19vh;
        display: none; 
    }
    .presentation{
        display: none;
        align-self: flex-end;
        font-size: small;
    }
    .mainbar a{
        width: 80px;
        height: 100%;
    }
    div .container div p{
        font-size: small;
    }
    .introducep{
        display: block;
        border: #000;
        border-radius: 15%;
        border-width: 5px;
    }


}